body {
	width: 100%;
	height: 100%;
	margin: 0;
	background: url(./img/bg.jpg) no-repeat; 
	background-size: 100% 100%;
}

@media screen and (min-width: 1600px) {
	.bodys {
		zoom: 90%;
		width: 1980px !important;
		height: 1080px !important;
	}
}
/* 加载旋转动画 */
#load{width:100%;height:100%;position:absolute;background:url(../images/data08.png) no-repeat #061537;background-size:cover;top:0;left:0;z-index:999}
#load .load_img{position:absolute;left:calc(50% - 182px);top:calc(50% - 182px);}
.load_img img{position:absolute;left:0;top:0;}
.load_img .jzxz1{animation:xz1 8s infinite linear;}
	@keyframes xz1 {
	  from {
	  transform:rotate(0deg);
	  }
	  50% {
	    transform:rotate(180deg);
	  }
	  to{
	  	transform:rotate(360deg);
	  }
	}	
.load_img .jzxz2{animation:xz2 7s infinite linear;}
	@keyframes xz2 {
	  from {
	  transform:rotate(0deg);
	  }
	  50% {
	    transform:rotate(-180deg);
	  }
	  to{
	  	transform:rotate(-360deg);
	  }
	}	


header {
	width: 100%;
	height: 6%;
	text-align: center;
	/* border-bottom: 1px solid #ccc; */
	display: flex;
	color: #fff;
	align-items: center;
	justify-content: center;
	font-size: 28px;
	color: aliceblue;
	/* position: absolute; */
	/* background: url(./img/jcdsj_logo.png) no-repeat center center;
	background-size: 100%; */
	
}

header span {
	text-align: center;
	    height: 100%;
	    display: flex;
	    justify-content: center;
	    align-items: center;
	    font-size: 35px;
	    background: linear-gradient( 0deg,#0095d6, #46daff);
	    background-size: cover;
	    -webkit-background-clip: text;
	    background-clip: text;
	    -webkit-text-fill-color: transparent;
	    text-fill-color: transparent;
	    font-weight: bolder;
	    cursor: text;
		margin-top: -0.5rem;
}


p,
h4 {
	margin: 0;
	margin-top: 5px;
}

.body {
	width: 100%;
	height: 92%;
	display: flex;
}

.body-right,
.body-left {
	width: 25%;
	/* border-bottom: 1px solid #ccc; */
	display: flex;
	flex-direction: column;
}

.body-con {
	flex: 1;
	position: relative;
}

.body-left #main3 {
	width: 98%;
	height: 200px;
	margin: 0 auto;
}

#main2 {
	width: 98%;
	height: 300px;
	margin: 0 auto;
	margin-bottom: 10px;
}

#main6,
#main2,
.main-bg,
.main4,
#main5 {
	/* background: #00000024; */
	background: url(img/1.png) no-repeat;
	background-size: 100% 100%;
}


.main4 table td {
	height: 75px;
	text-align: center;
}

.main4 table td p {
	color: aliceblue;
}

.main4 table td h4 {
	font-size: 25px;
}

.topRec_List dl,
.maquee {
	width: 90%;
	overflow: hidden;
	margin: 0 auto;
	color: #7C7C7C
}

.topRec_List dd {
	float: left;
	text-align: center;
	/* border-bottom: 1px solid #ddecff; */
	color: #FFFFFF;
	background: #1f395a;
}

.topRec_List dl dd {
	height: 30px;
	line-height: 30px;
}

.maquee {
	height: 225px;
}

.topRec_List ul {
	width: 100%;
	height: 225px;
	padding: 0;
}

.topRec_List li {
	/* width: 78%; */
	height: 30px;
	line-height: 30px;
	text-align: center;
	font-size: 12px;
	border-bottom: 1px dashed #aaa;
	display: flex;
}

.topRec_List dl dd:nth-child(1),
.topRec_List li div:nth-child(1),
.topRec_List dl dd:nth-child(2),
.topRec_List dl dd:nth-child(3),
.topRec_List dl dd:nth-child(4),
.topRec_List li div:nth-child(2),
.topRec_List li div:nth-child(3),
.topRec_List li div:nth-child(4) {
	flex: 1;
	width: 25%;
	margin: 0;
}

.back {
	position: absolute;
	left: 17px;
	top: 25px;
	color: rgb(222, 222, 222);
	font-size: 15px;
	cursor: pointer;
	z-index: 100;
	display: none;
}

.flex {
	display: flex;
	align-items: center;
}

.body {
	/* width: 951px; */
	width: 100%;
	height: 100%;
	margin: auto;
	position: relative;
	z-index: 0;
}

.body-con {
	min-height: 511px;
	position: absolute;
	margin-top: 3rem;
	z-index: 99999;
}

.body-map {
	width: 751px;
	height: 100%;
	margin: auto;
	position: relative;
}

.header {
	width: 48%;
height: 60px;
	background: url(./img/head.png) no-repeat center center;
	background-size: 100% 100%;
}

.call {
	position: absolute;
	width: 100%;
	min-height: 511px;
	z-index: 0;
	top: 4rem;
}

.toogle {
	width: 80%;
	margin: auto;
	display: flex;
	color: aliceblue;
	justify-content: space-between;
	align-items: center;
}

.toop {
	background: url("./img/toop.png") no-repeat;
	background-size: 100% 100%;
	width: 130px;
	height: 35px;
}

.toop .bg {
	width: 80%;
	height: 30px;
	/* margin: auto; */
	margin-left: 10px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.toogle .left img,
.toogle .right img {
	width: 100px;
}

.toop .bg p:nth-child(1) {
	font-family: Rationale;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: #E6F3FF;
}

.toop .bg p:nth-child(2) {
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	color: #FFE86E;
}

.call ul {
	width: 80%;
	height: 1.8rem;
	display: flex;
	/* align-items: center; */
	padding: 0;
	margin: auto;
	justify-content: center;
}

.call ul li {
	width: 5.5rem;
	font-family: PingFang HK;
	font-style: normal;
	font-weight: 200;
	font-size: 11px;
	color: #E6FFF8;
	text-shadow: 0px 0px 4px rgba(229, 255, 248, 0.25);
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background: url('./img/select.png') no-repeat;
	background-size: 100% 100%;
}

.call ul .active {
	background: url('./img/active.png') no-repeat;
	background-size: 100% 100%;
	color: #97FFE2;
	font-size: 13px;
}